* {
	box-sizing: border-box
}

body{
	padding: 5px;
	background-color: #23282f;
}

#main-container{
	width:334px;
	height: 374px;
	position: relative;
	background-color: white;
	margin: auto;
	margin-top: 60px;
/*
	border: 3px solid green;	
*/
}

#point-container{
	position: relative;
	width: 100%;
	height: 334px;
}

.bar-container{
	/* width: 70%; */
	height: 30px;
	position: relative;
}



.bar-text{
	font-size: large;
	text-align: center;
	color: white;
	font-weight: bold;
}

.progress-container{
	position: relative;
	height: 30px;
	width: 100%;
}

#progress-max {
	width: 100%;
	background-color: white;
  	height: 100%;
	position: relative;
	line-height: 30px;

}

#progress-current {
  width: 0%;
  height: 100%;
  background-color: green;
}

#time-max {
	height: 10px;
	width: 100%;
	background-color: white;
	position: relative;

}

#time-current {
  width: 0%;
  height: 100%;
  background-color: #23282f;
}

.feedback-container{
	display: none;
	padding: 25px;
	text-align: center;
}

.feedback-text{
	font-size: 250%;
	text-align: center;
	color: green;
}

.feedback-extra{
	font-size: 180%;
	color: #405471;
	text-align: center;
	font-style: italic;
}



.dot {
  height: 7%;
  width: 7%;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  border: solid 1px black;
}

.start-button-container{
	position: relative;
	display: block;
	margin: auto;
}


.start-button-inside{
	border: 10px solid white;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	position: relative;
	margin: auto;
	background-color: green;
	color: white;
	font-weight: bold;
}

.start-button-outside{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 10px solid black;
	position: relative;
	left: -15px;
	top: -15px;
	text-align: center;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	font-size: large;
	box-shadow: 7px 7px 10px grey;
}



.centered-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.number-container{
	position: relative;
	margin: 10px auto 10px auto;
	padding: 12px 5px 12px 5px;
	width: 334px;
}


.number-button{
	/* position: relative; */
	width: 40px;
	height: 40px;
	border: 2px solid #ababab;
	background-color: #222222;
	border-radius: 50%;
	margin: 7px;
	padding: 6px;	
	color: white;
	text-align: center;
	box-shadow: 1px 1px 10px grey;
	font-size: 130%;
	font-weight: bold;
	float: left;
}

.number-button:hover{
	opacity: 0.8;
}

.num-pressed-correct{
	border-color: green;
	box-shadow: 1px 1px 10px green;
}

.num-pressed-wrong{
	border-color: orange;
	box-shadow: 1px 1px 10px orange;
}



.number-center {
	float: right;
	position: relative;
	left: -50%; /* or right 50% */
	text-align: left;
}



#serie-box{
	position:relative;
	top: 100%;
}



.input {
	margin: 10px;
	display: inline-block;
	text-align: right;
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	right: 0;
	background-color: #111; /* Black*/
	color: white;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 50px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 36px;
	margin-left: 50px;
}


.off-canvas-icon{
	float: right;
	color: white;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 8px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 18px; /* Set a specific slider handle width */
  height: 18px; /* Slider handle height */
  background: orange; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 18px; /* Set a specific slider handle width */
  height: 18px; /* Slider handle height */
  background: orange; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}



@media screen and (max-height: 520px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	#main-container {width: 280px; height: 320px; margin-top: 30px;}
	.number-button {margin: 5px; width: 33px; height: 33px; font-size: 120%; padding: 4px;}
	.number-container {width: 280px; padding: 10px; margin: 0px auto 0px auto;}
	#point-container {width: 100%; height: 280px;}
	
}
